<form method="post" class="formAdmin">
	<input type="hidden" value="{{ chapter.id }}" name="id">
	<p class="form-group">
		<label for="name">Nom</label>
		<input class="form-control" type="text" value="{{ chapter.name }}" placeholder="Entrez un nom court" name="name" id="name" required>
	</p>
	<p class="form-group">
		<label for="number">Numéro du chapitre</label>
		<input class="form-control" type="text" value="{{ chapter.number }}" placeholder="Entrez un numéro de chapitre dont vous aurez vérifié la cohérence" name="number" id="number" required>
	</p>
	<p class="form-group">
		<label for="title">Titre</label>
		<input class="form-control" type="text" value="{{ chapter.title }}" placeholder="Entrez le titre du chapitre" name="title" id="title" required>
	</p>
	<p class="form-group">
		<label for="description">Description</label>
		<textarea class="form-control" type="text" placeholder="Entrez le texte du chapitre" name="description" rows="8" id="description" required>{{ chapter.description }}</textarea>
	</p>
	<p class="form-group">
		<label for="background_image">Nom de l'image</label>
		<input class="form-control" type="text" value="{{ chapter.background_image }}" placeholder="Entrez le nom de l'image de fond tel qu'enregistré dans le projet avec l'extension" name="background_image" id="background_image" required>
	</p>
	<p class="form-group">
		<label for="background_image_alt">Balise alt de l'image</label>
		<input class="form-control" type="text" value="{{ chapter.background_image_alt }}" placeholder="Entrez la balise alt de l'image de fond" name="background_image_alt" id="background_image_alt" required>
	</p>
