<form method="post" class="formAdmin">
	<input type="hidden" value="{{ chapter.id }}" name="id">
	<p class="form-group">
		<label for="name">Nom</label>
		<input class="form-control" type="text" value="{{ chapter.name }}" name="name" id="name" required>
	</p>
	<p class="form-group">
		<label for="title">Titre</label>
		<input class="form-control" type="text" value="{{ chapter.title }}" name="title" id="title" required>
	</p>
	<p class="form-group">
		<label for="description">Description</label>
		<textarea class="form-control" type="text" value="{{ chapter.description }}" name="description" rows="8" id="description" required></textarea>
	</p>
	<p class="form-group">
		<label for="background_image">Nom de l'image</label>
		<input class="form-control" type="text" value="{{ chapter.background_image }}" name="background_image" id="background_image" required>
	</p>
	<p class="form-group">
		<label for="background_image_alt">Balise alt de l'image</label>
		<input class="form-control" type="text" value="{{ chapter.background_image_alt }}" name="background_image_alt" id="background_image_alt" required>
	</p>
