{% extends 'layout.html.twig' %}

{% block content %}
	<a class="logo" href="/"><img src="/assets/images/logo.svg"></a>
	<main class="adminMain">
		<h1 class="adminTitle">Chapitre
			{{ chapter.id }}</h1>
		<div class="blockButton">
			<img class="adminDecoration" src="/assets/images/noun-frame-346217.svg">
		</div>
		<div class="adminChapter">
			<div class="blockText">
				<p>Nom :
					{{ chapter.name }}</p>
				<h1 class="chapterTitle">Titre :
					{{ chapter.title }}</p>
				<p class="chapterText">Description :
					{{ chapter.description }}</p>

				<a class="buttonAction raise buttonAdmin" href="/chapters/admin_edit?id={{ chapter.id }}">Modifier le chapitre</a><br>

				<table class="table tablechapterAdmin">
					<tr>
						<th scope="col">Libellé</th>
						<th scope="col">ID Action to</th>
					</tr>
					<tr>
						<td scope="col">
							{% for label in labels %}
								{{ action.label }}
							{% endfor %}
						</td>
						<td scope="col">
							{% for target_id in target_ids %}
								{{ action.target_id }}
							{% endfor %}
						</td>
					</tr>
				</table>


				<a class="buttonAction raise buttonAdmin" href="/chapters/admin_edit?id={{ chapter.id }}">Modifier les actions</a><br>
			</div>
			<div class="blockImage">
				<img class="adminImage" src="/assets/images/{{ chapter.background_image }}">
				<p>Balise alt de l'image :
					{{ chapter.background_image_alt }}</p>
			</div>
		</div>
		<div class="blockButton">
			<a class="buttonAction raise" href="/chapters/admin_show?id={{ chapter.id -1 }} ">
				← Chapitre précédent</a>
			<a class="buttonAction raise" href="/chapters">Retour aux chapitres</a>
			<a class="buttonAction raise" href="/chapters/admin_show?id={{ chapter.id +1 }} ">Chapitre suivant →
			</a>
		</div>
	</main>
{% endblock %}
