{% extends 'layout.html.twig' %}

{% block content %}
	<h1>Chapter
		{{ chapter.name }}</h1>
	<p>{{ chapter.id }}.
		{{ chapter.title }}</p>
	<p>{{ chapter.description }}</p>
	<p>{{ chapter.background_image }}</p>
	<p>{{ chapter.background_image_alt }}</p>


{% endblock %}
