{% extends 'layout.html.twig' %}

{% block content %}

	<main class="chapter">
		<div class="chapterPage">
			<p>Chapitre
				{{ chapter.id }}</p>
			<h1>{{ chapter.title }}</h1>

			<p class="chapterText">{{ chapter.description }}</p>

			<a class="buttonAction" href="/chapter/show?id={{ chapter.id -1 }} ">Bouton précédent</a>

			<a class="buttonAction" href="/chapter/show?id={{ chapter.id +1 }} ">Bouton suivant</a>

		</div>

		<div class="backgroundImage" style="background-image: url(/assets/images/{{chapter.background_image}});"></div>
	</main>

{% endblock %}
