{% extends 'layout.html.twig' %}

{% block title %}

	Chapitre
	{{ chapter.id }}

{% endblock %}

{% block content %}
	<main class="chapter d-md-inline-flex">
		<audio controls autoplay class="audioPage" src="/assets/sound/turnpage.mp3"></audio>
		{% if chapters.0.id == 16 %}
			<audio controls autoplay class="audioPage" src="/assets/sound/victorysound.mp3"></audio>
		{% endif %}
		<a class="logo" href="/"><img class="logoSize" src="/assets/images/logo.svg"></a>
		<script src="/script/script.js"></script>
		<div class="d-md-none">
			<img class="MobileChapterImage" src="/assets/images/{{ chapters.0.background_image }}"></div>
		<div class="chapterPage ms-md-5">

			<p>Chapitre
				{{ chapters.0.id }}</p>
			<h1 class="chapterTitle">{{ chapters.0.title }}</h1>

			<p class="chapterText">{{ chapters.0.description }}</p>

			{% for chapter in chapters %}
				{% if chapter.target_id == NULL %}
					<a class="buttonAction raise" href="/">{{ chapter.label }}</a>
				{% else %}
					<a class="buttonAction raise" href="/chapter/show?id={{ chapter.target_id }}&action={{ chapter.actionID }} ">{{ chapter.label }}</a>
				{% endif %}
			{% endfor %}
		</div>

		<div class="backgroundImage d-none d-md-block" style="background-image: url(/assets/images/{{chapters.0.background_image}});"></div>
	</main>
{% endblock %}
